main{
    margin-left: 100px;
}
.box{
    display: block;
    float: left;
    padding:10px;
    
   
}
image{ height:100%;
    width: 100%;
    border-radius: 5px;

}
img{
    border-radius: 6px;

}


h1
{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
































